/*** Generel settings ***/
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

body {
  background-color: #e7dfc3;
}

/* ------------------------------------------- */

/*** Mobile view first ***/
/* All font settings */
h2 {
  color: #5c2227;
  font-size: 1rem;
}

h4 {
  color: #5c2227;
}

p {
  color: #5c2227;
}

#back_to_top {
  color: #5c2227;
}

footer {
  text-align: center;
}
/* ------------------------------------------- */

/* Filter, sort and search bar */
#narrow_info {
  display: grid;
}

.narrow_info_wrapper {
  justify-self: center;
  margin-top: 3rem;
}

#sort_dropdown,
#filter_dropdown {
  border-radius: 0;
  background-color: #d7cc9e;
  border: 2px solid #5c2227;
  height: 4vh;
  width: 100%;
  color: #5c2227;
  cursor: pointer;
}

#search_bar {
  border-radius: 6px;
  background-color: #e6ddb9;
  border: 2px solid #5c2227;
  height: 4vh;
  color: #5c2227;
  margin-top: 2rem;
  padding-left: 0.5rem;
}

.clear_button {
  border-radius: 6px;
  background-color: #743b3b;
  border: 2px solid #5c2227;
  height: 4vh;
  color: #e7dfc3;
  cursor: pointer;
  padding: 0 0.6rem 0 0.6rem;
  margin-left: 0.3rem;
}

/* ------------------------------------------- */
/* List of students Landing page */
#interface_list {
  margin: 6rem 2rem 0 2rem;
}

.amount_txt {
  text-align: end;
}

tr {
  height: 8vh;
  vertical-align: middle;
}

td {
  width: 100vw;
  text-align: end;
}

tr:nth-child(odd) td {
  background-color: #cf5e38d3;
}

tr:nth-child(even) td {
  background-color: #d29345d4;
}

.expel_button {
  background-color: #743b3b;
  border: 2px solid #5c2227;
  color: #e7dfc3;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 2rem;
}

[data-field="fullname"] {
  padding-left: 1rem;
}

/* ------------------------------------------- */
/* 2 Boxes with information */
.info_box_wrapper {
  display: grid;
  justify-content: center;
  margin-top: 4rem;
}

.box_1,
.box_2 {
  width: 300px;
  height: 250px;
  background-color: #d29345d0;
  padding: 1rem;
  margin-bottom: 2rem;
}

.box_1 h4,
.box_2 h4 {
  text-align: center;
  margin-bottom: 3rem;
}

/* ------------------------------------------- */

/* ****** STAR ****** */

[data-field="star"] {
  cursor: pointer;
  font-size: 23px;
}
/* ------------------------------------------- */

/* ****** WINNERS ****** */
td[data-field="trophy"]::after {
  content: "🏆";
  cursor: pointer;
  font-size: 20px;
  margin-left: 3rem;
}

td[data-field="trophy"][data-winner="false"]::after {
  filter: grayscale(1);
}

/* ------------------------------------------- */
/*** Media queries ***/
@media (min-width: 800px) {
  .narrow_info_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .sort {
    grid-column: 1/2;
  }

  .filter {
    grid-column: 2/3;
  }

  .search {
    grid-column: 3/4;
  }

  #sort_dropdown,
  #filter_dropdown {
    width: 100%;
  }

  #search_bar {
    margin-top: 2.8rem;
  }

  .clear_button {
    margin-top: 1rem;
  }

  .info_box_wrapper {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 20rem;
    gap: 30px;
    margin-top: 5rem;
  }

  [data-field="fullname"] {
    padding-left: 3rem;
  }
}

/* ------------------------------------------- */

@media (min-width: 1200px) {
  .expel_button {
    margin-left: 10rem;
  }

  [data-field="star"] {
    font-size: 26px;
  }

  td[data-field="trophy"]::after {
    font-size: 25px;
    margin-left: 20rem;
  }

  .amount_txt {
    margin-right: 12rem;
  }

  .list_container {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .info_box_wrapper {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 21rem;
    gap: 40px;
    margin-top: 6rem;
  }

  .box_1,
  .box_2 {
    width: 350px;
    height: 300px;
  }
}
